@import 'react-select';

//logo css
*{
  clear: both;
}
/*
.wrapperTop{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6.4rem;
}
*/
.wrapperTop{
  display: flex;
  flex-direction: row;
  height: 5.4rem;
  width: 100%;
}

.logo_content{
  display: flex;
}

.img_logo {
    width: 10em;
    margin: 0.2em;
}

.img_logo2 {
  width: 7em;
  height: 3em;
  margin: 0.4em 0.1em 0em 0.5em;
}

//online statistics bar
.onlineStatistics_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical_hr{
  border-left: 1px dashed #fff;
  display: flex;
  height: 3.4rem;
  margin-left: 1em;
}


.widgets_link{
  margin: 0.5em;
}


html, body ,#app,#map{
        height: 100%;
        margin: 0;
        padding: 0;
}

.rowNav{
      height: 7%;
}

.rowContent{
      height: 93%;
}

.container{
    height: 100%;
}

.map_container{
  height: 99.6%;
}
.widgetMenu_container, {
//  display: flex;
  display: flex;
  height: 6.4rem;
  justify-content: center;
  align-items: center;
}

.drawer_buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer_banner{
  display: flex;
width: 100%;
height: 6.4rem;
background-color: #007bf7;
}

.drawer_banner_title{
  display: flex;
  align-items: center;
  margin-left: 1em;
  color: white;
  text-align: center;
}

.drawer_radiogroup{
  display: flex;
    flex-direction: column;
    margin: 1em;
}

.drawer_content{
  margin: 1em;
  display: flex;
  flex-direction: column;
}


.drawer_input input{
  color: black;
  border-bottom: 1px solid #007bf7;
}
.drawer_input label{
  color: #007bf7;
}

.drawer_listSubHeader{
  padding-left: 1.6rem;
  margin: -.8rem 0 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 4.8rem;
  color: #757575;
}

.drawer_listSubHeader2{
  padding-left: 2.6rem;
  margin: -.8rem 0 0;
  font-size: 13px;
  font-weight: 500;
  line-height: 4.8rem;
  color: #757575;
}

.drawer_busquedaTitle{
  font-size:12px;
}

.empresas_icons{
  display: flex;
  width: 2em;
  justify-content: center;
  align-content: center;
}

.simbologia_container{
  width: auto;
    height: auto;
    border-radius: 0;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: screen;
    bottom: 0;
    z-index: 3;
    //padding: 1em;
    position: absolute;
}

.drawer_buttonsContent{
  display: flex;
    flex-direction: column;
}
.drawer_button{
  margin-bottom: 1em;
}

.estadisticas_title_h3{
  display: flex;
  justify-content: center;
  background-color: #19426b;
  color: white;
  margin-bottom: 0.5em;
  font-size: initial;
}

.wrapper_estadisticas_opciones{
  display: flex;
  justify-content: space-between;
}
//LOGIN css
.login_wrapper_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.login_logo{
  width: 20%;
}
.login_button{
  width: 20%;
  margin-left: 2em;
}

.login_input{
  width: 20%;
}

.login_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 18px 2px rgba(117, 117, 117, 0.3);
  margin: 0%;
  padding: 2em;
  background: rgba(0, 0, 0, 0.85);
}

.theme__icon___2JeD2, .theme__label___3Nc3v{
  color: rgb(255, 255, 255);

}

 .theme__inputElement___2akQt{
  border-bottom: 1px solid rgb(255, 255, 255);
  color: #ffffff;
 }

.drawer_progressBar{
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  margin-top: 1em;
  visibility: hidden;
}

//drawer
.drawer_medidores{
  width: 40% !important;
}

.griddle{
  font-size: 14px;
  text-align: center;

}

.statistics_progressBar{}

.griddle-body table{
  table-layout: auto !important;
}

/**/
.drawer_layers{
  width: 30%;
  display: flex;
  flex-direction: column;
}

.theme__item___1WzdF{
  padding: 0px 7rem;
}
.content_drawer{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.content_drawer_left{
  display: flex;
  width: 100%;
  justify-items: center;
  flex-direction: column;
}

.content_drawer_right{
  display: flex;
      width: 100%;
      height: 100%;
      flex-direction: column;
      margin-left: 0.5em;
      margin-right: 1em;
}

.h4_title_layers{
  font-size: initial;
    width: 100%;
    display: flex;
    justify-content: center;
}

.h4_title_special{
  margin-top: 1em;
}

.drawer_buttonsContent{
  display: flex;
    flex-direction: row;
    margin-top: 1em;
    margin-bottom: 1em;
    justify-content: space-around;
}

.btn50{
  width: 50%;
  margin: 1em;
}

.marginr1{
  margin-right: 1em;
}

.checkLayers{
  margin-top: 1em;
  margin-bottom: 1em;
  width: 30%;
}


//toggle img for symbology:
  .toggler {
    width: 500px;
    height: 200px;
    display: flex;
    z-index: 15;
    position: absolute;
    bottom: 1em;
    margin-left: 1em;
    flex-direction: column-reverse;
  }
  #buttonToggler {
    padding: .5em 1em;
    text-decoration: none;
    position: absolute;
    z-index: 15;
    display: flex;
  }

  #buttonToggler2 {
    padding: .5em 1em;
    text-decoration: none;
    position: absolute;
    z-index: 15;
    display: flex;
    margin-left: 2em;
  }

  #buttonToggler3 {
    padding: .5em 1em;
    text-decoration: none;
    position: absolute;
    z-index: 15;
    display: flex;
    margin-left: 4em;
  }

  #effect {
    position: relative;
    width: 240px;
    height: 170px;
    padding: 0.4em;
    bottom: 3em;
  }

  #effect h3 {
    margin: 0;
    padding: 0.4em;
    text-align: center;
  }

  .griddle-footer div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

.ui.checkbox .box:before, .ui.checkbox label:before{
  border: 2px solid black;
}



.ui.checkbox input:focus~.box:before, .ui.checkbox input:focus~label:before {
    background: #fff !important;
    border-color: black;
}

.ui.checkbox input:checked~.box:before, .ui.checkbox input:checked~label:before {
    background: #fff !important;
    border-color: rgb(34, 36, 38);
}

.ui.checkbox .box:before, .ui.checkbox label:after, .ui.checkbox label:focus{
  background: #007bf7;
  color: white !important;
}

.ui.checkbox input:checked~.box:after, .ui.checkbox input:checked~label:after{
    color:white !important;
}

.ui.checkbox {
    font-style: normal;
    font-size: 15px;
    font-weight: 500;
    margin-top: 0.5em;
}

.ui.checkbox label{
    padding-left: 3.85714em;
}
.wrapper_checksLayers{
    display: flex;
    flex-direction: column;
    margin-left: 1em;
    margin-right: 1em;
    float: right;
    width: 80%;
  }

.theme__list___YVXcL{
  width: 96%;
}

//8.6.2018: predichas y confirmadas:

.theme__appBar___b1hGI {
      height: 8.4rem;
}

.big_group_wrapper{
  display: flex;
  flex-direction: row;
  font-size: 11px;
  margin: 0.5em;
}

.3_group_wrapper{
  display: flex;
  flex-direction: column;
}

.icon_qtty_wrapper{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0em 2.5em 0em 0.5em;
}

.vertical_hr{
  height: 9.4rem;
}

.onlineStatistics_wrapper {
    display: flex;
    align-items: center;
}

.esriSimpleSliderTL {
  top: 20px;
    right: 20px;
    left: auto;
}


//LOGIN MEDIAS
@media screen and (max-width: 600px) and (orientation: portrait){
  .login_input {
    width: 50%;
  }
  .login_div {
    flex-direction: column;
  }

  .login_logo {
    width: 45%;
  }
  .login_button {
    width: 65%;
  }

  .theme__inputElement___2akQt{
    font-size: 12px;
  }
}

@media screen and (max-width: 640px) and (orientation: landscape){
  .login_input {
      width: 40%;
  }

  .login_div {
    flex-direction: column;
    padding-top: 0.3em;
  }

  .login_logo {
    width: 20%;
  }
  .login_button {
    width: 45%;
  }
}

@media only screen and (max-width: 736px) and (orientation: landscape){
  .theme__inputElement___2akQt{
    font-size: 12px;
  }
}

////////////////////////////////////////////////////////////////////////////////////
//interrupciones media
@media only screen and (max-width: 320px) and (orientation: portrait){
  .logo_content{
    display: flex;
    align-items: center;
  }

  .img_logo {
    width: 2em;
    height: 2em;
    display: flex;
  }

  .theme__appBar___b1hGI{
  padding: 0em 0.5em 0em 0.5em
  }

  .vertical_hr{
    margin-left: 0.3em;
  }

  .onlineStatistics_h6_title {
    display: none;
  }
}

@media only screen and (min-width: 321px) and (max-width: 360px)  and (orientation: portrait){
  .theme__appBar___b1hGI {
    padding: 0;
    width: 100%;
  }

  .img_logo {
      width: 4em;
      height: 2em;
      margin: 1em 0em 1em 0.5em;
  }

  .theme__panel___2AHlZ{
    display: flex;
  }

   .widgetMenu_container{
    position: absolute;
    margin-top: 4.4em;
    background: #23496f;
    font-size: 9px;
    height: 3.3rem;
    width: 100%;
   }

  .esriSimpleSliderTL{
    top: 45px;
  }

  .simbologia_container{
    padding: 1em 0.5em 0em 0.5em;
    height: auto;
    //width: 15%;
  }

  .simbologia_container img{
    width: 100%;
  }
  .onlineStatistics_h6_title{
    display: none;
  }

  .estatisticas_wrapper_content{
    margin-top: 2.4rem;
  }

  .estadisticas_mainTab_title{
    font-size: 8px;
  }

  .theme__label___3Q1BH{
    font-size: 8px;
  }
}
//nexus 4, iphone 6
@media only screen and (min-width: 361px) and (max-width: 384px) and (orientation: portrait) {//and (min-width: 361px) and (orientation: portrait){
  .theme__appBar___b1hGI {
    padding: 0;
    width: 100%;
  }
  .img_logo {
      width: 4em;
      height: 2em;
      margin: 1em 0em 1em 0.5em;
  }
  .theme__panel___2AHlZ{
    display: flex;
  }
   .widgetMenu_container{
    position: absolute;
    margin-top: 3.4em;
    background: #23496f;
    font-size: 12.2px;
    height: 3.3rem;
    width: 100%;
   }

  .esriSimpleSliderTL{
    top: 45px;
  }

  .simbologia_container{
    padding: 1em 0.5em 0em 0.5em;
    height: auto;
    //width: 15%;
  }

  .simbologia_container img{
    width: 100%;
  }
  .onlineStatistics_h6_title{
    display: none;
  }

  .estatisticas_wrapper_content{
    margin-top: 3rem;
  }

  .estadisticas_mainTab_title{
    font-size: 1.1rem;
  }
}

//@media screen and (max-width: 412px) and (min-width: 385px) and (orientation: portrait){
@media only screen and (min-width: 385px) and (max-width: 412px) and (orientation: portrait){
  .theme__appBar___b1hGI {
    padding: 0;
    width: 100%;
  }
  .img_logo {
      width: 4em;
      height: 2em;
      margin: 1em 0em 1em 0.5em;
  }
  .theme__panel___2AHlZ{
    display: flex;
  }
   .widgetMenu_container{
     position: absolute;
     margin-top: 3.4em;
     background: #23496f;
     font-size: 10.2px;
     height: 3.3rem;
     width: 100%;
   }

  .esriSimpleSliderTL{
    top: 45px;
  }

  .simbologia_container{
    padding: 1em 0.5em 0em 0.5em;
    height: auto;
    //width: 15%;
  }

  .simbologia_container img{
    width: 100%;
  }
  .onlineStatistics_h6_title{
    display: none;
  }

  .estatisticas_wrapper_content{
  margin-top: 2rem;
  }

  .estadisticas_mainTab_title{
    font-size: 1rem;
  }

  .theme__label___3Q1BH {
    font-size: 1.2rem;
  }

  .onlineStatistics_h6_title{
    display: flex;
    font-size: small;
  }
}

//@media screen and (max-width: 600px) and (min-width: 413px) and (orientation: portrait){
@media only screen and (min-width: 413px) and (max-width: 600px) and (orientation: portrait){
  .theme__appBar___b1hGI {
    padding: 0;
    width: 100%;
  }
  .img_logo {
    width: 6em;
    height: 3em;
    margin: 0.3em 0em 1em 0.5em
  }
  .theme__panel___2AHlZ{
    display: flex;
  }
   .widgetMenu_container{
     position: absolute;
      margin-top: 3.1em;
     background: #23496f;
    font-size: 14.2px;
     height: 3.3rem;
     width: 100%;
   }

  .esriSimpleSliderTL{
    top: 45px;
  }

  .simbologia_container{
    padding: 1em 0.5em 0em 0.5em;
    height: auto;
    //width: 15%;
  }

  .simbologia_container img{
    width: 100%;
  }
  .onlineStatistics_h6_title{
    display: none;
  }

  .estatisticas_wrapper_content{
    margin-top: 3.2rem;
  }

  .estadisticas_mainTab_title{
    font-size: 1rem;
  }

  .theme__label___3Q1BH {
    font-size: 1.2rem;
  }

  .onlineStatistics_h6_title{
    display: flex;
    font-size: larger;
  }

  .onlineStatistics_wrapper{
    font-size: x-small;
  }
}

//@media screen and (max-width: 768px) and (min-width: 601px) and (orientation: portrait){
@media only screen and (min-width: 601px) and (max-width: 768px) and (orientation: portrait){
  .theme__appBar___b1hGI {
    padding: 0;
    width: 100%;
  }
  .img_logo {
    width: 6em;
    height: 3em;
    margin: 0.3em 0em 1em 0.5em
  }
  .theme__panel___2AHlZ{
    display: flex;
  }
   .widgetMenu_container{
     position: absolute;
      margin-top: 3.1em;
     background: #23496f;
    font-size: 14.2px;
     height: 3.3rem;
     width: 100%;
   }

  .esriSimpleSliderTL{
    top: 45px;
  }

  .simbologia_container{
    padding: 1em 0.5em 0em 0.5em;
    height: auto;
    //width: 15%;
  }

  .simbologia_container img{
    width: 100%;
  }
  .onlineStatistics_h6_title{
    display: none;
  }

  .estatisticas_wrapper_content{
    margin-top: 2.2rem;
  }

  .estadisticas_mainTab_title{
    font-size: 1rem;
  }

  .theme__label___3Q1BH {
    font-size: 1.2rem;
  }

  .onlineStatistics_h6_title{
    display: flex;
    font-size: larger;
  }

  .onlineStatistics_wrapper{
    font-size: x-small;
  }
}

//@media screen and (max-width: 800px) and (min-width: 769px) and (orientation: portrait){
@media only screen and (min-width: 769px) and (max-width: 800px) and (orientation: portrait){
  .theme__appBar___b1hGI {
    padding: 0;
    width: 100%;
  }
  .img_logo {
    width: 6em;
    height: 3em;
    margin: 0.3em 0em 1em 0.5em
  }
  .theme__panel___2AHlZ{
    display: flex;
  }
   .widgetMenu_container{
     position: absolute;
      margin-top: 3.1em;
     background: #23496f;
    font-size: 14.2px;
     height: 3.3rem;
     width: 100%;
   }

  .esriSimpleSliderTL{
    top: 45px;
  }

  .simbologia_container{
    padding: 1em 0.5em 0em 0.5em;
    height: auto;
    //width: 15%;
  }

  .simbologia_container img{
    width: 100%;
  }
  .onlineStatistics_h6_title{
    display: none;
  }

  .estatisticas_wrapper_content{
    margin-top: 2.2rem;
  }

  .estadisticas_mainTab_title{
    font-size: 1rem;
  }

  .theme__label___3Q1BH {
    font-size: 1.2rem;
  }

  .onlineStatistics_h6_title{
    display: flex;
    font-size: larger;
  }

  .onlineStatistics_wrapper{
    font-size: x-small;
  }

  .drawer_listSubHeader{
    padding-left: 1.6rem;
    margin: -.8rem 0 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 4.8rem;
    color: #757575;
  }

  .drawer_listSubHeader2{
    padding-left: 1.6rem;
    margin: -.8rem 0 0;
    font-size: 8px;
    font-weight: 500;
    line-height: 4.8rem;
    color: #757575;
  }

  .theme__item___1WzdF {
    padding: 0px 1rem;
  }

  .content_drawer_right {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-left: 0.5em;
    margin-right: 1em;
    font-size: 11px;
  }

  .btn50 {
    width: 80%;
    margin: 1em;
  }

  .drawer_buttonsContent {
    display: flex;
    flex-direction: column;

  }

  .drawer_layers {
    width: 70%;
    display: flex;
    flex-direction: column;
  }

}

//landscape
@media only screen and (max-width: 600px) and (orientation: landscape){
  .simbologia_container{
    padding: 1em 0.5em 0em 0.5em;
    height: 55%;
    width: 10%;
  }

  .simbologia_container img{
    width: 90%;
  }

  .img_logo{
    width: 4em;
    margin: 1em 0em 0.5em 0;
    height: 2em;
  }

  .theme__appBar___b1hGI {
    padding: 0;
    width: 100%;
  }

  .img_logo {
      width: 4em;
      height: 2em;
      margin: 1em 0em 1em 0.5em;
  }

  //
  .theme__panel___2AHlZ{
    display: flex;
  }

   .widgetMenu_container{
    position: absolute;
    margin-top: 4.4em;
    background: #23496f;
    font-size: 9px;
    height: 3.3rem;
    width: 100%;
   }

  .esriSimpleSliderTL{
    top: 45px;
  }

  .onlineStatistics_h6_title{
    display: flex;
    font-size: 12px;
  }

  .estatisticas_wrapper_content{
    margin-top: 2.4rem;
  }

  .estadisticas_mainTab_title{
    font-size: 8px;
  }

  .theme__label___3Q1BH{
    font-size: 8px;
  }
}

@media only screen and (max-width: 640px) and (orientation: landscape){
  .simbologia_container{
    padding: 1em 0.5em 0em 0.5em;
    height: 55%;
      width: 10%;
  }

  .simbologia_container img{
    width: 90%;
  }

  .img_logo{
    width: 4em;
    margin: 1em 0em 0.5em 0;
    height: 2em;
  }

  .theme__appBar___b1hGI {
    padding: 0;
    width: 100%;
  }

  .img_logo {
      width: 4em;
      height: 2em;
      margin: 1em 0em 1em 0.5em;
  }

  //
  .theme__panel___2AHlZ{
    display: flex;
  }

   .widgetMenu_container{
    position: absolute;
    margin-top: 4.4em;
    background: #23496f;
    font-size: 9px;
    height: 3.3rem;
    width: 100%;
   }

  .esriSimpleSliderTL{
    top: 45px;
  }

  .onlineStatistics_h6_title{
    display: flex;
    font-size: 12px;
  }

  .estatisticas_wrapper_content{
    margin-top: 2.4rem;
  }

  .estadisticas_mainTab_title{
    font-size: 8px;
  }

  .theme__label___3Q1BH{
    font-size: 8px;
  }
}

//@media screen and (max-width: 732px) and (min-width:641px) and (orientation: landscape){
@media only screen and (max-width: 732px) and (orientation: landscape){
  .simbologia_container{
    padding: 1em 0.5em 0em 0.5em;
    height: auto;
    //width: 15%;
  }

  .simbologia_container img{
    width: 100%;
  }

  .theme__item___1WzdF {
    padding: 0px 1rem;
  }

  .img_logo{
    width: 4em;
    margin: 1em 0em 0.5em 0;
    height: 2em;
  }

  .theme__appBar___b1hGI {
    padding: 0;
    width: 100%;
  }

  .img_logo {
      width: 4em;
      height: 2em;
      margin: 1em 0em 1em 0.5em;
  }

  //
  .theme__panel___2AHlZ{
    display: flex;
  }

   .widgetMenu_container{
    position: absolute;
    margin-top: 4.4em;
    background: #23496f;
    font-size: 9px;
    height: 3.3rem;
    width: 100%;
   }

  .esriSimpleSliderTL{
    top: 45px;
  }

  .onlineStatistics_h6_title{
    display: flex;
    font-size: 12px;
  }

  .estatisticas_wrapper_content{
    margin-top: 2.4rem;
  }

  .estadisticas_mainTab_title{
    font-size: 8px;
  }

  .theme__label___3Q1BH{
    font-size: 8px;
  }

  .drawer_layers {
    width: 35%;
    display: flex;
    flex-direction: column;
  }

}

//17.10.2017
@media only screen and (max-width: 800px) and (orientation: landscape){
  .drawer_listSubHeader{
    padding-left: 1.6rem;
    margin: -.8rem 0 0;
    font-size: 1rem;
    font-weight: 500;
    line-height: 4.8rem;
    color: #757575;
  }

  .drawer_listSubHeader2{
    padding-left: 1.6rem;
    margin: -.8rem 0 0;
    font-size: 8px;
    font-weight: 500;
    line-height: 4.8rem;
    color: #757575;
  }

  .theme__item___1WzdF {
    padding: 0px 1rem;
  }

  .content_drawer_right {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    margin-left: 0.5em;
    margin-right: 1em;
    font-size: 11px;
  }

  .btn50 {
    width: 80%;
    margin: 1em;
  }

  .drawer_buttonsContent {
    display: flex;
    flex-direction: column;

  }

  .griddle {
    font-size: 8px;
    text-align: center;
  }
}
