@import 'react-select';

//logo css
*{
  clear: both;
}
.wrapperTop{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 6.4rem;
}

.logo_content{
  display: flex;
}

.img_logo{
  width: 7em;
  margin: 0.3em;
}


//online statistics bar
.onlineStatistics_wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.vertical_hr{
  border-left: 1px dashed #fff;
  display: flex;
  height: 3.4rem;
  margin-left: 1em;
}


.widgets_link{
  margin: 0.5em;
}


html, body ,#app,#map{
        height: 100%;
        margin: 0;
        padding: 0;
}

.rowNav{
      height: 7%;
}

.rowContent{
      height: 93%;
}

.container{
    height: 100%;
}

.map_container{
  height: 99.6%;
}
.widgetMenu_container, {
//  display: flex;
  display: flex;
  height: 6.4rem;
  justify-content: center;
  align-items: center;
}

.drawer_buttons{
  display: flex;
  justify-content: center;
  align-items: center;
}

.drawer_banner{
  display: flex;
width: 100%;
height: 6.4rem;
background-color: #007bf7;
}

.drawer_banner_title{
  display: flex;
  align-items: center;
  margin-left: 1em;
  color: white;
  text-align: center;
}

.drawer_radiogroup{
  display: flex;
    flex-direction: column;
    margin: 1em;
}

.drawer_content{
  margin: 1em;
  display: flex;
  flex-direction: column;
}


.drawer_input input{
  color: black;
  border-bottom: 1px solid #007bf7;
}
.drawer_input label{
  color: #007bf7;
}

.drawer_listSubHeader{
  padding-left: 1.6rem;
  margin: -.8rem 0 0;
  font-size: 1rem;
  font-weight: 500;
  line-height: 4.8rem;
  color: #757575;
}

.drawer_busquedaTitle{
  font-size:12px;
}

.empresas_icons{
  display: flex;
  width: 2em;
  justify-content: center;
  align-content: center;
}

//LOGIN css
.login_wrapper_content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 100%;
}

.login_logo{
  width: 20%;
}
.login_button{
  width: 20%;
  margin-left: 2em;
}

.login_input{
  width: 20%;
}

.login_div{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 18px 2px rgba(117, 117, 117, 0.3);
  margin: 0%;
  padding: 2em;
  background: rgba(0, 0, 0, 0.85);
}

.theme__icon___2JeD2, .theme__label___3Nc3v{
  color: rgb(255, 255, 255);

}

 .theme__inputElement___2akQt{
  border-bottom: 1px solid rgb(255, 255, 255);
  color: #ffffff;
 }
